@charset "UTF-8";

/* privacy-policy */
.privacy-policy .txt-right {
  text-align: right;
}

.privacy-policy .order-list-gp li ul,
.privacy-policy .order-list-gp .order-list-table {
  padding-left: 40px;
}

.privacy-policy .order-list-gp li .order-list-txt {
  display: block;
}

.privacy-policy .order-list-gp li ul .list {
  display: flex;
}

.privacy-policy .order-list-gp li ul .list span {
  margin-right: 10px;
}

.privacy-policy .order-list-gp li ul .list-gp ul {
  padding-left: 32px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}