@charset "UTF-8";

/* sitemap */
.sitemap .sitemap-list {
  border-bottom: 1px solid #E0E0E0;
}

.sitemap .sitemap-list:last-child {
  border-bottom: 0;
}

.sitemap .sitemap-list .d-flex {
  flex-wrap: wrap;
  justify-content: inherit;
  margin-bottom: 28px;
}

.sitemap .sitemap-list .d-flex li {
  width: 23.5%;
  margin-right: 2%;
}

.sitemap .sitemap-list .d-flex li:nth-child(4n),
.sitemap .sitemap-list .d-flex li:last-child {
  margin-right: 0;
}

.sitemap .sitemap-list .d-flex li ul li {
  width: 100%;
  letter-spacing: 0.3px;
}

.sitemap .sitemap-list .d-flex li ul {
  margin-top: 12px;
}

@media only screen and (max-width: 767.9px) {
  .sitemap .sitemap-list .d-flex li {
    width: 100%;
  }
}