@charset "UTF-8";

/* sitemap */
.sitemap .sitemap-list .d-flex {
  justify-content: flex-start;
}

.sitemap .sitemap-list li {
  width: 32.21%;
  margin-right: 1.6%;
}

.sitemap .sitemap-list li:nth-child(3n) {
  margin-right: 0;
}

.sitemap .sitemap-list h2 a {
  position: relative;
  padding-left: 34px;
  color: #048851;
}

.sitemap .sitemap-list h2 a .arrow {
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 0;
  width: 100%;
  height: 24px;
  border: 1px solid transparent;
  background-color: #048851;
  max-width: 24px;
  border-radius: 50%;
}

.sitemap .sitemap-list h2 a .arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: url('/img/common/ico_right_arrow.png') no-repeat center/contain;
  content: "";
  transform: translate(-50%, -50%);
}

.sitemap .sitemap-list h2 a:hover .arrow {
  border: 1px solid #048851;
  background-color: #fff;
  transition: all .2s;
}

.sitemap .sitemap-list h2 a:hover .arrow::after {
  transition: all .2s;
  filter: invert(69%) sepia(86%) saturate(414%) hue-rotate(103deg) brightness(101%) contrast(116%);
}

.sitemap .sitemap-list li a.link {
  display: inline-block;
  position: relative;
  padding-left: 14px;
}

.sitemap .sitemap-list li a.link:before {
  position: absolute;
  top: 13px;
  left: 0;
  width: 4px;
  height: 4px;
  content: '';
  transform: rotate(135deg);
  border-top: 2px solid #048851;
  border-left: 2px solid #048851;
}

.sitemap .sitemap-list li a.link:visited:before {
  border-top: 2px solid #63288e;
  border-left: 2px solid #63288e;
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sitemap .sitemap-list h2 a:hover .arrow::after {
    filter: unset;
  }

  .sitemap .sitemap-list h2 a:hover .arrow {
    border: 1px solid transparent;
    background-color: #048851;
  }
}

@media only screen and (max-width: 767.9px) {
  .sitemap .sitemap-list li {
    width: 100%;
    margin-right: 0;
  }

  .sitemap .sitemap-list h2 a .arrow {
    top: 5px;
  }

  .sitemap .sitemap-list li a.link::before {
    top: 10px;
  }

  .sitemap .sitemap-list h2 a:hover .arrow::after {
    filter: unset;
  }

  .sitemap .sitemap-list h2 a:hover .arrow {
    border: 1px solid transparent;
    background-color: #048851;
  }
}