@charset "UTF-8";

.unorder-list {
  padding-left: 1em;
}

.unorder-list li {
  padding-left: 3.5em;
  text-indent: -3.5em;
}

.unorder-list li:nth-child(n + 10) {
  padding-left: 4.5em;
  text-indent: -4.5em;
}

@media only screen and (max-width: 767.9px) {
}
