@charset "UTF-8";

/* Header */
.sugi-smile-header {
  position: relative;
}

.sugi-smile-header .header-inner {
  width: 97%;
  margin: 0 auto;
  padding: 37px 0;
  max-width: 1316px;
}

.sugi-smile-header .header-logo {
  position: relative;
  z-index: 10;
  width: 233px;
}

.sugi-smile-header .header-logo a {
  display: inline-block;
}

.sugi-smile-header .menu-list {
  display: flex;
  position: relative;
  top: -35px;
  justify-content: center;
  z-index: 9;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 500;
}

.sugi-smile-header .menu-list li:not(:last-child) {
  margin-right: 24px;
}

.sugi-smile-header .menu-list a {
  color: #343434;
}

.sugi-smile-header .menu-list a:hover,
.sugi-smile-header .menu-list a.active {
  color: #009944;
}

.fix-wrap {
  position: absolute;
  right: 1.9%;
  left: 0;
  width: 60px;
  margin-left: auto;
  max-width: 1920px;
}

.sugi-smile-header .toggle-btn {
  position: fixed;
  top: 30px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background-color: #009944;
  cursor: pointer;
  border-radius: 50%;
}

.sugi-smile-header .toggle-btn span {
  position: absolute;
  right: 0;
  left: 0;
  width: 22px;
  height: 2px;
  margin: 0 auto;
  background-color: #fff;
  transition: all 0.2s;
}

.sugi-smile-header .toggle-btn span:nth-child(1) {
  top: 25px;
}

.sugi-smile-header .toggle-btn span:nth-child(2) {
  top: 30px;
}

.sugi-smile-header .toggle-btn span:nth-child(3) {
  top: 35px;
}

.sugi-smile-header .toggle-btn.active span:nth-child(2) {
  opacity: 0;
}

.sugi-smile-header .toggle-btn.active span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -moz-transform: rotate(-45deg) translateY(-50%);
}

.sugi-smile-header .toggle-btn.active span:nth-child(3) {
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
  -webkit-transform: rotate(45deg) translateY(-50%);
  -moz-transform: rotate(45deg) translateY(-50%);
}

.sugi-smile-header .nav-wrap {
  position: absolute;
  right: 0;
  width: 50%;
  margin-left: auto;
  max-width: 400px;
}

.sugi-smile-header .toggle-nav {
  display: none;
  position: fixed;
  top: 0;
  z-index: 9;
  width: 40%;
  height: 100vh;
  padding-bottom: 60px;
  background-color: rgba(0, 153, 68, 0.95);
  max-width: 400px;
  overflow-y: auto;
}

.sugi-smile-header .toggle-nav.active {
  display: block;
}

.sugi-smile-header .toggle-nav .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  background-color: #fff;
}

.sugi-smile-header .toggle-nav .nav-logo {
  max-width: 174px;
}

.sugi-smile-header .toggle-nav .nav-logo a {
  display: block;
}

.sugi-smile-header .toggle-nav ul li a {
  display: block;
  position: relative;
  padding: 22px 20px;
  color: #fff;
  font-size: 0.875rem;
}

.sugi-smile-header .toggle-nav .first-menu li a {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.sugi-smile-header .toggle-nav .first-menu li a::before,
.sugi-smile-header .toggle-nav .first-menu li a::after {
  position: absolute;
  top: 50%;
  content: "";
  transform: translateY(-50%);
}

.sugi-smile-header .toggle-nav .first-menu li a::before {
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.sugi-smile-header .toggle-nav .first-menu li:last-child a::before {
  content: none;
}

.sugi-smile-header .toggle-nav .first-menu li a::after {
  right: 26px;
  width: 6px;
  height: 6px;
  background: url("/img/common/sugi-smile/ico_triangle_arrow.png") no-repeat center/contain;
}

.sugi-smile-header .toggle-nav .first-menu li:last-child a::after {
  right: 25px;
  width: 14px;
  height: 14px;
  background-image: url("/img/common/sugi-smile/ico_external.png");
}

.sugi-smile-header .toggle-nav .second-menu {
  background-color: rgba(0, 0, 0, 0.2);
}

.sugi-smile-header .toggle-nav .second-menu li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Main Sugi Smile */
.sugi-smile-wrapper {
  background: #f6fff5 url(/img/common/sugi-smile/img_sugi_smile_bg.png) no-repeat;
  background-size: contain;
  background-position: right 0px top 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: 400;
}


/* Breadcrumb */
.smile-breadcrumb.breadcrumb {
  margin-bottom: 0;
  padding-bottom: 30px;
  border-bottom: 0;
}

.smile-breadcrumb .breadcrumb-list {
  justify-content: flex-end;
}

.smile-breadcrumb .breadcrumb-list li {
  color: #009944;
}

.smile-breadcrumb .breadcrumb-list li:last-child {
  font-weight: 700;
}

.breadcrumb-list li::after {
  border-color: #009944;
}

/* Side Bar */
.sugi-smile-wrapper .sidebar .sidebar-list {
  background-color: #009944;
  border-radius: 5px;
}

.sugi-smile-wrapper .sidebar-item {
  border: none;
}

.sugi-smile-wrapper .sidebar-ttl-link {
  padding: 0 20px;
  color: #fff;
  border-radius: 0;
}

.sugi-smile-wrapper .sidebar-ttl-link .sidebar-ttl {
  padding: 16px 0;
}

.sugi-smile-wrapper .sidebar-item:not(:last-child) .sidebar-ttl {
  border-bottom: 2px dotted #fff;
}

.sugi-smile-wrapper .sidebar-ttl-link:hover {
  background-color: inherit;
}

.sugi-smile-wrapper .sidebar-ttl-link:hover .sb-ttl-txt {
  text-decoration: underline;
}

.sugi-smile-wrapper .accordion.active .sb-arrow {
  background-color: #fff;
}

.sugi-smile-wrapper .accordion.active .sb-arrow::before,
.sugi-smile-wrapper .sb-arrow::before,
.sugi-smile-wrapper .sidebar-ttl-link:hover .sb-arrow::before,
.sugi-smile-wrapper .accordion.open .sidebar-ttl-link:hover .sb-arrow::before,
.sugi-smile-wrapper .accordion.open .sb-arrow::before,
.sugi-smile-wrapper .sidebar-ttl-link:hover .sb-arrow::before,
.sugi-smile-wrapper .accordion.active .sidebar-ttl-link:hover .sb-arrow::before {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: url("/img/common/sugi-smile/ico_green_arrow_circle.svg") no-repeat center/contain;
  transform: translateX(-50%) translateY(-50%);
  filter: none;
}

/* Common Smile Title */
.common-smile-ttl {
  text-align: center;
}

.common-smile-ttl span {
  line-height: 2.4;
  color: #009944;
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.common-smile-ttl h1 {
  position: relative;
  line-height: 0.8;
  padding-bottom: 30px;
  color: #343434;
  font-size: 2.5rem;
  font-weight: 700;
}

.common-smile-ttl h1::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 3px;
  margin: 0 auto;
  background-color: #009944;
  content: "";
}

/* Common Smile Sub Title */
.common-smile-subttl {
  line-height: 1.3;
}

.common-smile-subttl span {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.common-smile-subttl h2 {
  color: #009944;
  font-family: 'Dosis', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

/* Footer */
.sugi-smile-footer .ft-nav {
  background-color: #009944;
  font-family: 'Zen Maru Gothic', sans-serif;
}

.sugi-smile-footer .ft-blk .sugi-holding-img {
  max-width: 233px;
}

.sugi-smile-footer .holding-link {
  display: inline-block;
  position: relative;
  padding-right: 20px;
  font-size: 0.875rem;
}

.sugi-smile-footer .holding-link::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 12px;
  background: url("/img/common/sugi-smile/ico_external_green.png") no-repeat center/contain;
  content: "";
  transform: translateY(-50%);
}

footer.sugi-smile-footer .page-top:hover {
  border: 2px solid #fff;
  background-color: #009944;
}

footer.sugi-smile-footer .page-top img {
  filter: invert(0%) sepia(98%) saturate(0%) hue-rotate(49deg) brightness(0%) contrast(101%);
}

footer.sugi-smile-footer .page-top:hover img {
  filter: invert(100%) sepia(300%) saturate(0) hue-rotate(0) brightness(100%) contrast(180%);
}

footer.sugi-smile-footer .ft-nav ul li a:hover {
  text-decoration: underline;
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {

  /* Main Sugi Smile */
  .sugi-smile-wrapper {
    background-position: right 0px top 0;
  }

  /* Header */
  .sugi-smile-header {
    background-color: #fff;
  }

  .sugi-smile-header .menu-list {
    display: none;
  }

  .sugi-smile-header .toggle-nav {
    top: 115px;
    right: 0;
    width: 100%;
    padding-bottom: 300px;
    max-width: 100%;
  }

  .sugi-smile-header .toggle-nav .nav-header {
    display: none;
  }

  /* Breadcrumb */
  .smile-breadcrumb.breadcrumb {
    position: absolute;
    top: 115px;
    right: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .smile-breadcrumb .breadcrumb-list {
    justify-content: flex-start;
  }

  .breadcrumb-list li::after {
    border-color: #cccccc;
  }

  /* Side Bar */
  .sugi-smile-wrapper .sidebar {
    top: 114px;
  }

  .sugi-smile-wrapper .sidebar-bnr-sp {
    border-bottom: 1px solid #e0e0e0;
  }

  .sugi-smile-wrapper .sidebar .sidebar-list {
    border-radius: 0;
  }

  .sugi-smile-wrapper .sidebar-ttl-link:hover .sb-ttl-txt {
    text-decoration: none;
  }

  /* Footer */
  .sugi-smile-footer .holding-link {
    display: none;
  }

  footer.sugi-smile-footer .page-top:hover {
    border: 2px solid transparent;
    background-color: #fff;
  }

  footer.sugi-smile-footer .page-top img,
  footer.sugi-smile-footer .page-top:hover img {
    filter: unset;
  }
}

/* Sp */
@media only screen and (max-width: 767.9px) {

  /* Header */
  .sugi-smile-header {
    background-color: #fff;
  }

  .sugi-smile-header .header-inner {
    width: 100%;
    padding: 20px;
    max-width: 100%;
  }

  .sugi-smile-header .header-logo {
    width: 162px;
  }

  .sugi-smile-header .menu-list {
    display: none;
  }

  .sugi-smile-header .toggle-btn {
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .sugi-smile-header .toggle-btn span {
    width: 18px;
  }

  .sugi-smile-header .toggle-btn span:nth-child(1) {
    top: 20px;
  }

  .sugi-smile-header .toggle-btn span:nth-child(2) {
    top: 25px;
  }

  .sugi-smile-header .toggle-btn span:nth-child(3) {
    top: 30px;
  }

  .sugi-smile-header .nav-wrap {
    width: 100%;
    max-width: 100%;
  }

  .sugi-smile-header .toggle-nav {
    top: 70px;
    right: 0;
    width: 100%;
    padding-bottom: 300px;
    max-width: 100%;
  }

  .sugi-smile-header .toggle-nav .nav-header {
    display: none;
  }

  .sugi-smile-header .toggle-nav .nav-logo {
    max-width: 174px;
  }

  /* Main Sugi Smile */
  .sugi-smile-wrapper {
    background-image: url("/img/common/sugi-smile/img_sugi_smile_sp_bg.png");
    background-position: center top 120px;
  }

  /* Breadcrumb */
  .smile-breadcrumb.breadcrumb {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .smile-breadcrumb .breadcrumb-list {
    justify-content: flex-start;
  }

  .breadcrumb-list li::after {
    border-color: #cccccc;
  }

  /* Common Smile Title */
  .common-smile-ttl h1 {
    font-size: 2rem;
  }

  /* Side Bar */
  .sugi-smile-wrapper .sidebar {
    top: 68px;
  }

  .sugi-smile-wrapper .sidebar-bnr-sp {
    border-bottom: 1px solid #e0e0e0;
  }

  .sugi-smile-wrapper .sidebar .sidebar-list {
    border-radius: 0;
  }

  .sugi-smile-wrapper .sidebar-ttl-link:hover .sb-ttl-txt {
    text-decoration: none;
  }

  /* Footer */
  .sugi-smile-footer .ft-blk .sugi-holding-img {
    max-width: 164px;
  }

  .sugi-smile-footer .holding-link {
    display: none;
  }

  footer.sugi-smile-footer .page-top:hover {
    border: 2px solid transparent;
    background-color: #fff;
  }

  footer.sugi-smile-footer .page-top img,
  footer.sugi-smile-footer .page-top:hover img {
    filter: unset;
  }
}