Options +Includes
AddHandler server-parsed html

<IfModule mod_rewrite.c>
	
  RewriteEngine On

	RewriteBase /

	RewriteCond %{REQUEST_FILENAME} !-f

	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule . /index.html [L]

	RewriteCond %{THE_REQUEST} ^.*/index.html

	RewriteRule ^(.*)index.html$ https://d2ehwfutnqpgdf.cloudfront.net/$1 [R=301,L]
	
	</IfModule>
