<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/english/company/message/" class="main-ftnav-txt">Message from Top Management</a></li>
        <li><a href="/english/company/overview/" class="main-ftnav-txt">Corporate Profile</a></li>
        <li><a href="/english/company/business/" class="main-ftnav-txt">Operations</a></li>
        <li><a href="/english/company/history/" class="main-ftnav-txt">Milestones</a></li>
        <li><a href="/english/company/philosophy/" class="main-ftnav-txt">Management Philosophy</a></li>
        <li><a href="/english/company/officer/" class="main-ftnav-txt">Leadership</a></li>
      </ul>
    </li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/english/company/data/" class="main-ftnav-txt">Facts ＆ Figures</a></li>
        <li><a href="/english/company/process/" class="main-ftnav-txt">Value Creation Process</a></li>
        <li><a href="/english/company/governance/" class="main-ftnav-txt">Corporate Governance</a></li>
      </ul>
    </li>
  </ul><!--/.ft-nav-banner-->
</div>