<div class="inner header-pc">
	<ul class="ft-nav-banner">
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/english/company/governance/" class="main-ftnav-txt">Corporate Governance TOP</a></li>
				<li><a href="/english/company/governance/structure.html" class="main-ftnav-txt">Governance System</a></li>
				<li><a href="/english/company/governance/board.html" class="main-ftnav-txt">Board of Directors / Board of Auditors</a></li>
				<li><a href="/english/company/governance/effective-evaluation.html" class="main-ftnav-txt">Effectiveness Evaluation of the Board of Directors</a></li>
			</ul>
		</li>
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/english/company/governance/remuneration.html" class="main-ftnav-txt">Remuneration of Directors and Auditors</a></li>
				<li><a href="/english/company/governance/shareholders.html" class="main-ftnav-txt">Relationships with Shareholders</a></li>
				<li><a href="/english/company/governance/structure.html#establishment" class="main-ftnav-txt">Establishment of the Sustainability Committee</a></li>
				<li><a href="/english/company/governance/risk.html" class="main-ftnav-txt">Risk Management</a></li>
			</ul>
		</li>
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/english/company/governance/external-director.html" class="main-ftnav-txt">Message from an External Director</a></li>
			</ul>
		</li>
	</ul><!--/.ft-nav-banner-->
</div>