<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li><a href="/english/ir/" class="main-ftnav-txt">IR TOP</a></li>
    <!-- <li>
      <a href="/english/ir/growthstrategy/vision/" class="main-ftnav-txt">Ideal Vision</a>
      <ul class="sub-ftnav-list">
        <li><a href="/english/ir/growthstrategy/vision/strategic-dominance.html">Strategic Dominance of Setting Up New Branches around Key Stores</a></li>
        <li><a href="/english/ir/growthstrategy/vision/store-making.html">Increasing Regional Shares by Opening Stores Aggressively, and Making Our Stores Even More Competitive</a></li>
        <li><a href="/english/ir/growthstrategy/vision/partnership.html">Partnerships</a></li>
        <li><a href="/english/ir/growthstrategy/vision/ltv.html">Life Time Value</a></li>
      </ul>
    </li> -->
    <li>
      <ul class="main-ftnav-list">
        <!-- <li><a href="/english/ir/growthstrategy/professionals.html" class="main-ftnav-txt">Experts</a></li>
        <li><a href="/english/ir/growthstrategy/management-plan.html" class="main-ftnav-txt">Mid-Term Management Plan</a></li> -->
        <li><a href="/english/ir/investors/" class="main-ftnav-txt">Investors</a></li>
        <li><a href="/english/ir/faq/" class="main-ftnav-txt">Qs & As on IR</a></li>
      </ul>
    </li>
    <li>
      <a href="/english/ir/library/" class="main-ftnav-txt">IR Library</a>
      <ul class="sub-ftnav-list">
        <li><a href="/english/ir/library/monthly-report.html">Monthly Reports</a></li>
        <li><a href="/english/ir/library/economic-indicators.html">Management Indices</a></li>
        <li><a href="/english/ir/library/briefing.html">Financial Briefing Materials</a></li>
        <li><a href="/english/ir/library/related-report.html">Related Reports</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.ft-nav-banner-->