<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/english/company/governance/" class="main-ftnav-txt">Corporate Governance</a></li>
        <li><a href="/english/company/officer/" class="main-ftnav-txt">Leadership</a></li>
        <li><a href="/english/company/store/" class="main-ftnav-txt">Operating Areas and Number of Stores</a></li>
        <li><a href="/english/sustainability/data/" class="main-ftnav-txt">Data/Materials</a></li>
      </ul>
    </li>
  </ul><!--/.ft-nav-banner-->
</div>