<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li><a href="/english/sustainability/" class="main-ftnav-txt">Sustainability TOP</a></li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/english/sustainability/env/" class="main-ftnav-txt">Environment</a></li>
        <li><a href="/english/sustainability/social/" class="main-ftnav-txt">Society</a></li>
        <li><a href="/english/sustainability/governance/" class="main-ftnav-txt">Governance</a></li>
      </ul>
    </li>
    <li>
      <a href="/english/sustainability/materiality/" class="main-ftnav-txt">Material Issues</a>
      <ul class="sub-ftnav-list">
        <li><a href="/english/sustainability/materiality/healthy-community/">Healthy Community</a></li>
        <li><a href="/english/sustainability/materiality/sustainable-bp/">Sustainable Business Partnership</a></li>
        <li><a href="/english/sustainability/materiality/environment/">Contribution to the Global Environment</a></li>
        <li><a href="/english/sustainability/materiality/work-environment/">Healthy Workplace Environment</a></li>
				<li><a href="/english/sustainability/governance/">Corporate Governance</a></li>
      </ul>
    </li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/english/company/message/management.html" class="main-ftnav-txt">Message from the Management</a></li>
        <li><a href="/english/sustainability/data/" class="main-ftnav-txt">Data/Materials</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.ft-nav-banner-->