@charset "UTF-8";

.nursing-care-wrapper::after {
  top: -10%;
  left: 6%;
}

.sec-nurcare-complete {
  padding-bottom: 100px;
}

.sec-nurcare-complete .common-nursing-ttl {
  margin-bottom: 63px;
}

.sec-nurcare-complete .common-nursing-subttl {
  margin-bottom: 91px;
}

.sec-nurcare-complete .common-medical-ttl {
  margin-bottom: 74px;
}

.sec-nurcare-complete p {
  text-align: center;
}

.sec-nurcare-complete .btn-gp {
  margin-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 767.9px) {

  .nursing-care-wrapper::after {
    top: -1%;
    left: 0;
  }
}