@charset "UTF-8";

.nursing-care-wrapper::after {
  top: -10%;
  left: 10%;
}

.sec-nurcare-confirm {
  padding-bottom: 100px;
}

.sec-nurcare-confirm .common-nursing-ttl {
  margin-bottom: 63px;
}

.sec-nurcare-confirm .common-nursing-subttl {
  margin-bottom: 61px;
}

.sec-nurcare-confirm table {
  width: 100%;
  text-align: left;
  -webkit-text-size-adjust: 100%;
}

.sec-nurcare-confirm table th,
.sec-nurcare-confirm table td {
  line-height: 1.5;
  padding: 30px 0;
  vertical-align: top;
  border-top: 1px solid #dedac8;
}

.sec-nurcare-confirm table th {
  width: 22.61%;
  padding-right: 10px;
}

.sec-nurcare-confirm table td {
  width: 77.39%;
  font-weight: 400;
}

.sec-nurcare-confirm table tr:last-child th,
.sec-nurcare-confirm table tr:last-child td {
  padding-bottom: 0;
}

.sec-nurcare-confirm .btn-gp {
  margin-top: 60px;
  text-align: center;
}

@media only screen and (max-width: 767.9px) {

  .nursing-care-wrapper::after {
    top: -1%;
    left: 0;
  }

  .sec-nurcare-confirm {
    padding-top: 20px;
    padding-bottom: 80px;
  }

  .sec-nurcare-confirm table th {
    width: 30%;
  }

  .sec-nurcare-confirm table td {
    width: 70%;
  }
}