@charset "UTF-8";

.sec-inquiries .external-button {
  margin-right: 20px;
}
.sec-inquiries .external-button{
 margin-bottom: 20px;
}

.sec-inquiries .common-button+.common-button {
  margin-left: 20px;
}

/* sec-contact */
.sec-contact .phone-num {
  font-size: 1.25rem;
  pointer-events: none;
}

.sec-contact .text-03 {
  font-size: 0.875rem;
}

/* sec-inquiries */
.sec-inquiries .table .w-230 {
  width: 230px;
}

/* sec-guidance */
.sec-guidance .table .w-300 {
  width: 300px;
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-inquiries .common-button+.common-button {
    margin-top: 20px;
    margin-left: 0;
  }

  .sec-inquiries .external-button+.external-button {
    margin-top: 20px;
    margin-left: 0;
  }

  /* sec-contact */
  .sec-contact .phone-num {
    pointer-events: visible;
  }
}

@media only screen and (max-width: 767.9px) {
  .sec-inquiries .common-button+.common-button {
    margin-top: 20px;
    margin-left: 0;
  }

  .sec-inquiries .external-button+.external-button {
    margin-top: 20px;
    margin-left: 0;
  }
  .sec-inquiries .external-button{
    margin-right: 20px;
  }

  /* sec-contact */
  .sec-contact .phone-num {
    pointer-events: visible;
  }

  .sec-contact .table,.sec-inquiries .table,.sec-guidance .table{
    overflow: hidden;
  }

  .sec-contact .table table,.sec-inquiries .table table,.sec-guidance .table table{
    border-top: 1px solid transparent;
  }

  .sec-contact .table tr .row, .sec-contact .table th .row,.sec-inquiries .table tr .row, .sec-inquiries .table th .row,
  .sec-guidance .table tr .row, .sec-guidance .table th .row {
    width: 100%;
    border-bottom: 1px solid #cce2d9;
    border-top: 1px solid #cce2d9;
  }

  .sec-contact .table tr td, .sec-contact .table tr th,.sec-inquiries .table tr td, .sec-inquiries .table tr th,
  .sec-guidance .table tr td, .sec-guidance .table tr th {
    width: 100%;
    display: block;
    border: 1px solid transparent;
    white-space: normal;
  }


  
}