.sec-inquiries .external-button + .external-button {
	margin-left: 20px;
}

.sec-inquiries .common-button + .common-button {
	margin-left: 20px;
}

/* sec-contact */
.sec-contact .phone-num {
	font-size: 1.25rem;
}

.sec-contact .text-03 {
	font-size: 0.875rem;
}

/* sec-inquiries */
.sec-inquiries .table .w-230 {
	width: 230px;
}

/* sec-guidance */
.sec-guidance .table .w-300 {
	width: 300px;
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.sec-inquiries .common-button + .common-button {
		margin-left: 0;
		margin-top: 20px;
	}

	.sec-inquiries .external-button + .external-button {
		margin-left: 0;
		margin-top: 20px;
	}
}

@media only screen and (max-width: 767.9px) {
	.sec-inquiries .common-button + .common-button {
		margin-left: 0;
		margin-top: 20px;
	}

	.sec-inquiries .external-button + .external-button {
		margin-left: 0;
		margin-top: 20px;
	}
}