@charset "UTF-8";

/* pc */

/* sec-eco-indicators */

.sec-eco-indicators table tr .center-position {
	text-align: center;
}

.sec-eco-indicators .table tr td, .table tr th {
	padding: 11.6px 13px;
	min-width: 80px;
}

.sec-eco-indicators .table tr th:first-child {
	min-width: 203px;
}