@charset "UTF-8";

.table .center {
  text-align: center;
}

/* sec-finance */
.active[data-tab-content] {
  display: block;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

[data-tab-content] {
  display: none;
}

.sec-finance .tab-list-02 li {
  width: 50%;
}

.sec-finance .tab-list-02 li a {
  padding: 20px 15px;
}

.sec-finance .pdf-btn {
  display: inline-block;
  position: relative;
  padding: 14.4px 93px 14.4px 30px;
  border: 2px solid #048851;
  background-color: #fff;
  color: #048851;
  font-weight: 700;
  border-radius: 100px;
}

.sec-finance .pdf-btn:hover {
  background-color: #048851;
  color: #fff;
}

.sec-finance .pdf-btn::after {
  position: absolute;
  top: 50%;
  right: 35px;
  width: 37px;
  height: 20px;
  background: url('/img/common/ico_pdf.svg') no-repeat center/cover;
  content: '';
  transform: translateY(-50%);
}

/* Section Benefit */
.benefit-ttl {
  font-weight: 400;
  margin-bottom: 10px;
}

.border-tbl {
  width: 96%;
  margin-left: auto;
}

.border-tbl table {
  width: 100%;
}

.border-tbl thead  {
  text-align: center;
}

.border-tbl td {
  border: 1px solid;
  padding: 2px 10px;
  vertical-align: baseline;
} 

.border-tbl td:first-child {
  width: 275px;
}

.border-tbl td span {
  border-bottom: 2px solid;
  font-weight: 700;
}

html[lang="en"] .sec-benefit .border-tbl:nth-of-type(2) table td {
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-finance .pdf-btn:hover {
    background-color: #fff;
    color: #048851;
  }
}

@media only screen and (max-width: 767.9px) {
  .sec-finance .pdf-btn:hover {
    background-color: #fff;
    color: #048851;
  }
  
  /* Section Benefit */
  .border-tbl {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-width: 10px;
  }

  .border-tbl table {
    margin-bottom: 15px;
  }

  .border-tbl td {
    white-space: nowrap;
  }
}