@charset "UTF-8";

/* pc */

/* sec-convenience */

.sec-convenience .d-flex.img-txt-blk .side-w380 p.text {
  margin-top: 30px;
}

.sec-convenience .result-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  background-color: #e5f3ed;
  text-align: center;
  border-radius: 5px;
}

.sec-convenience .result-box dt {
  font-size: 1.125rem;
  font-weight: 700;
}

.sec-convenience .result-box dd {
  color: #048851;
  font-weight: 700;
  text-align: center;
}

.sec-convenience .result-box dd span {
  padding-right: 8px;
  font-size: 2.5rem;
}

.sec-convenience .self-improvement,
.sec-feature-store .uni-hospital {
  padding: 24px 40px;
  background-color: #e5f3ed;
  border-radius: 8px;
}

.sec-convenience .self-improvement .img-caption {
  position: relative;
}

.sec-convenience .self-improvement .img-caption img {
  border-radius: 8px;
}

.sec-convenience .self-improvement .img-caption p {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2.38% 0;
  background-color: #048851;
  color: #fff;
  text-align: center;
  border-radius: 0 0 8px 8px;
}

.sec-convenience .self-improvement .txt-blk {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 24px;
}

.sec-convenience .self-improvement .text-04 {
  margin-right: 24px;
  padding: 8.1px 20px;
  background-color: #048851;
  color: #fff;
  border-radius: 20px;
}

.sec-convenience .self-improvement .d-flex.img-blk {
  padding: 24px 0;
  border-top: 1px solid rgba(4, 136, 81, 0.3);
}

/* sec-feature-store */

.sec-feature-store .uni-hospital .university .img-blk:first-child,
.sec-feature-store .atsumi-hospital .img-blk {
  width: 49.983%;
}

.sec-feature-store .uni-hospital .university .img-blk:last-child {
  width: 49.15%;
}

.sec-feature-store .uni-hospital .text-02,
.sec-feature-store .atsumi-hospital .text-02 {
  margin-bottom: 24px;
  font-size: 1.125rem;
}

.sec-feature-store .uni-hospital .small-text {
  margin: 24px 0;
}

.sec-feature-store .uni-hospital .small-text.service {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(4, 136, 81, 0.3);
}

.sec-feature-store .uni-hospital .intro-services .img-blk {
  width: 32.767%;
}

/* sp */

@media only screen and (max-width: 767.9px) {
  .sec-convenience .self-improvement .txt-blk {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .sec-convenience .self-improvement .text-04 {
    margin-right: 0;
    margin-bottom: 24px;
  }
}