@charset "UTF-8";
/* sec-ir-news */

.btn-center {
  text-align: center;
}

.sec-ir-news .pdf {
  padding-right: 47px;
}

.sec-ir-news .pdf::after {
  margin-left: 10px;
}

/* sec-growthstrategy */

.sec-growthstrategy .link-gp li {
  width: 30.91%;
}

.sec-growthstrategy .link-gp li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13.2px 20px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.sec-growthstrategy .link-gp li a span:first-child {
  line-height: 1.8;
}

.sec-growthstrategy .link-gp li a:hover {
  background-color: #048851;
  color: #fff;
  border-radius: 5px;
}

.sec-growthstrategy .link-gp .link-arrow {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.sec-growthstrategy .link-gp .link-arrow::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background: #048851;
  content: '';
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border-radius: 50%;
}

.sec-growthstrategy .link-gp li a:hover .link-arrow {
  background-color: #fff;
}

.sec-growthstrategy .link-gp li a:hover .link-arrow::before {
  width: 8px;
  height: 8px;
  background: url('/img/common/ico_arrow_green.svg') no-repeat center/contain;
}

.sec-growthstrategy .img-list-detail a ,
.sec-growthstrategy .img-list-detail img {
  height: 100%;
}

.ir-calendar {
  border: 1px solid #e6e6e6;
}

.ir-calendar .calendar-info {
  padding: 4% 6.5%;
  background-color: #f0f8f3;
  font-weight: 700;
}

.ir-calendar .plan-info {
  display: flex;
  align-items: flex-start;
}

.plan-info .future-plan {
  position: relative;
  padding-left: 40px;
  background: url('/img/ir/ico_calendar.svg') no-repeat center left/24px;
  font-size: 1.375rem;
  letter-spacing: 0;
  white-space: nowrap;
}

.plan-info .schedule-date {
  margin-left: 40px;
  color: #048851;
  font-size: 1rem;
  border-bottom: 1px solid;
}

.ir-calendar .result-ttl {
  padding: 5% 0 7%;
  font-size: 1.875rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
}

.ir-calendar a.calendar-link {
  padding: 3% 0;
  text-align: center;
  height: auto;
}

.ir-calendar .calendar-link span {
  position: relative;
  padding-left: 30px;
  font-size: 1rem;
  font-weight: 700;
}

.ir-calendar .calendar-link span::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 8px;
  height: 8px;
  padding: 8px;
  border: 1px solid #e6e6e6;
  background:  #ffffff url('/img/common/ico_arrow_green.svg') no-repeat center;
  content: '';
  transform: translateY(-50%);
  border-radius: 100%;
}

.ir-calendar .calendar-link:hover span::before {
  background-color: #048851;
  background-image: url('/img/common/ico_arrow_white.svg'); 
}

/* sec-performance */

.sec-performance.bg-gray {
  padding: 60px 0;
}

.sec-performance .d-flex.highlights {
  justify-content: flex-start;
}

.sec-performance .highlights li {
  width: 30.91%;
  margin-right: 3.63%;
  text-align: center;
}

.sec-performance .highlights li:nth-child(3n+0) {
  margin-right: 0;
}

.sec-performance .highlights li .text-04.tag {
  display: inline-block;
  padding: 2.8px 12px;
  border: 1px solid #000;
  font-size: 0.875rem;
  border-radius: 4px;
}

.sec-performance .highlights li .text-04 {
  font-size: 1rem;
}

.sec-performance .highlights li .text-04 span {
  font-size: 3rem;
}

/* I-pad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sec-performance .d-flex.highlights {
    justify-content: space-between;
  }

  .sec-performance .highlights li {
    width: 49.37%;
    margin-right: 0;
  }

  .sec-growthstrategy .link-gp li a .link-arrow {
    background-color: #048851;
  }

  .sec-growthstrategy .link-gp li a .link-arrow::before {
    width: 8px;
    height: 8px;
    background: url(/img/common/ico_arrow_white.svg) no-repeat center/cover;
  }

  .sec-growthstrategy .link-gp li a:hover {
    background-color: #fff;
    color: #048851;
  }

  .sec-growthstrategy .link-gp li a:hover .link-arrow {
    background-color: #048851;
  }

  .sec-growthstrategy .link-gp li a:hover .link-arrow::before {
    width: 8px;
    height: 8px;
    background: url(/img/common/ico_arrow_white.svg) no-repeat center/cover;
  }
  
  .ir-calendar .calendar-info {
    padding: 4% 6.5%;
  }
  
  .plan-info .future-plan {
    padding-left: 30px;
    font-size: 1.2rem;
  }
  
  .plan-info .schedule-date {
    font-size: 0.8rem;
  }
  
  .ir-calendar .result-ttl {
    padding: 5% 0 7%;
    font-size: 1.5rem;
  }
  
  .ir-calendar .calendar-link:hover span::before {
    background-color: #fff;
    background-image: url('/img/common/ico_arrow_green.svg'); 
  }
}

/* sp */

@media only screen and (max-width: 767.9px) {
  .sec-growthstrategy .link-gp li {
    width: 100%;
  }

  .sec-growthstrategy .link-gp li:not(:last-child) a {
    border-bottom: 1px solid transparent;
  }

  .sec-growthstrategy .link-gp li a .link-arrow {
    background-color: #048851;
  }

  .sec-growthstrategy .link-gp li a .link-arrow::before {
    width: 8px;
    height: 8px;
    background: url('/img/common/ico_arrow_white.svg') no-repeat center/cover;
  }

  .sec-performance .highlights li {
    width: 100%;
    margin-right: 0;
  }

  .sec-growthstrategy .link-gp li a:hover {
    background-color: #fff;
    color: #048851;
  }

  .sec-growthstrategy .link-gp li a:hover .link-arrow {
    background-color: #048851;
  }

  .sec-growthstrategy .link-gp li a:hover .link-arrow::before {
    width: 8px;
    height: 8px;
    background: url(/img/common/ico_arrow_white.svg) no-repeat center/cover;
  }
  
  .ir-calendar .calendar-info {
    padding: 5% 7.5%;
  }
  
  .ir-calendar .plan-info {
    justify-content: space-between;
  }
  
  .plan-info .future-plan {
    padding-left: 20px;
    background-size: 12px;
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
  
  .plan-info .schedule-date {
    margin-left: 10px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
  }
  
  .ir-calendar .result-ttl {
    padding: 4% 0;
    font-size: 1rem;
    letter-spacing: 1px;
  }
  
  .ir-calendar a.calendar-link {
    padding: 16px 0;
  }
  
  .ir-calendar .calendar-link span {
    font-size: 0.875rem;
  }
  
  .ir-calendar .calendar-link:hover span::before {
    background-color: #fff;
    background-image: url('/img/common/ico_arrow_green.svg'); 
  }

  .sec-performance .highlights li .text-04.tag,
  .sec-performance .highlights li .small-text {
    font-size: 1rem;
  }
}