@charset "UTF-8";

/* sec-healthcare */
.strategy-vision .sec-healthcare .d-flex {
  align-items: center;
  text-align: center;
}

.strategy-vision .sec-healthcare .healthcare-item {
  padding: 40px 20px;
  border: 1px solid #048851;
  border-radius: 5px;
}

.strategy-vision .sec-healthcare .healthcare-item p {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.6px;
}

.strategy-vision .sec-healthcare .healthcare-item .img {
  margin: 0 auto;
  max-width: 97px;
}

.strategy-vision .sec-healthcare .healthcare-item:nth-child(2) .img {
  max-width: 59px;
}

.strategy-vision .sec-healthcare .healthcare-item:last-child .img {
  max-width: 91px;
}

@media only screen and (max-width: 767.9px) {

  /* sec-healthcare */
  .strategy-vision .sec-healthcare .healthcare-item {
    padding: 20px;
  }
}