@charset "UTF-8";

.sec-medical-confirm {
	margin-bottom: 100px;
}

.sec-medical-confirm table {
	width: 100%;
	text-align: left;
	-webkit-text-size-adjust: 100%;
}

.sec-medical-confirm table th, .sec-medical-confirm table td {
	border-top: 1px solid #cce2d9;
	padding: 25px 0;
	line-height: 2.1;
	vertical-align: top;
}

.sec-medical-confirm table th {
	width: 25.21%;
	padding-right: 10px;
}

.sec-medical-confirm table td {
	width: 74.79%;
}

.sec-medical-confirm table .service .input-ttl {
	color: #7fbe26;
	display: block;
	font-weight: 700;
}

.sec-medical-confirm table .service .input-txt {
	margin-top: 10px;
}

.sec-medical-confirm table .service p {
	border-bottom: 1px dashed #bfbfbf;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.sec-medical-confirm table .service p:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.sec-medical-confirm table tr:last-child th,
.sec-medical-confirm table tr:last-child td {
	padding-bottom: 0;
}

.sec-medical-confirm .btn-gp {
	margin-top: 40px;
	text-align: center;
}

.sec-medical-confirm table th p {
	font-weight: 400;
}

@media only screen and (max-width: 767.9px) {
	.sec-medical-confirm table th {
		width: 30%;
	}
	
	.sec-medical-confirm table td {
		width: 70%;
	}
}