@charset "UTF-8";

.center {
  text-align: center;
}
/* sec-support-local */
.sec-support-local .support-table {
  margin-top: 52px;
}

/* sec-expansino-store */
.sec-expansion-store .result-box {
  background-color: #e5f3ed;
  border-radius: 5px;
}

.sec-expansion-store .result-box div {
  display: flex;
  align-items: baseline;
  width: 310px;
  margin: 0 auto;
  padding: 10px 0;
}

.sec-expansion-store .result-box dd {
  color: #048851;
}

.sec-expansion-store .result-box dd span {
  font-size: 30px;
  font-weight: 700;
}

.sec-expansion-store .result-box dt {
  padding-right: 20px;
}

.sec-acceptance .bio-ttl {
  background-color: #b4ddc0;
  color: #048851;
  font-weight: 700;
  text-align: center;
  margin: 10px 0;
}

@media only screen and (max-width: 767.9px) {
  .sec-expansion-store .result-box div {
    width: 234px;
  }
}