@charset "UTF-8";

.healthcare-services .common-box {
  width: 100%;
  padding: 21.5px 40px;
  background-color: #e5f3ed;
  border-radius: 8px;
}

.healthcare-services .common-box.d-flex,
.healthcare-services .common-box .d-flex {
  align-items: baseline;
}

.healthcare-services .common-box .d-flex:first-child {
  margin-bottom: 21.5px;
  padding-bottom: 21.5px;
  border-bottom: 1px solid rgba(4, 136, 81, .3);
}

.healthcare-services .common-box dt {
  font-size: 1.125rem;
}

.healthcare-services .common-box dt,
.healthcare-services .common-box dd {
  width: 50%;
  font-weight: 700;
}

.healthcare-services .common-box dd {
  color: #048851;
  text-align: right;
}

.healthcare-services .common-box dd span {
  line-height: 1;
  margin-right: 8px;
  font-size: 1.875rem;
  font-weight: 700;
}

/* sec-renewal */
.healthcare-services .sec-renewal .img-otc {
  margin: 0 auto;
  max-width: 565px;
}

@media only screen and (max-width: 767.9px) {
  .healthcare-services .common-box {
    align-items: center;
    padding: 24px;
  }

  .healthcare-services .common-box .d-flex:first-child {
    margin-bottom: 23px;
    padding-bottom: 23px;
  }

  .healthcare-services .common-box dt {
    font-size: 1.125rem;
  }

  .healthcare-services .sec-store .side-w246,
  .healthcare-services .sec-store .side-w524,
  .healthcare-services .sec-services .side-w246,
  .healthcare-services .sec-services .side-w524,
  .healthcare-services .interview-blk .side-w246,
  .healthcare-services .interview-blk .side-w524 {
    width: 100%;
  }

  .healthcare-services .common-box .line {
    margin: 25.5px 0;
  }

  .healthcare-services .common-box dt {
    width: 62.7%;
    letter-spacing: 0;
  }

  .healthcare-services .common-box dd {
    width: 35%;
  }


  /* sec-renewal */
  .healthcare-services .sec-renewal .img-otc {
    max-width: 100%;
  }

  .sec-digital-member .common-box {
    display: block;
  }

  .healthcare-services .sec-digital-member .common-box dt,
  .healthcare-services .sec-digital-member .common-box dd {
    width: 100%;
    text-align: center;
  }

  .healthcare-services .sec-digital-member .common-box dd {
    margin-top: 13px;
    text-align: center;
  }
}