@charset "UTF-8";

.text-center {
  text-align: center;
}

.material-issues-area .table{
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}

.sec-process .col03 .col03-detail {
  width: 30.91%;
  margin-right: 3.6%;
  margin-bottom: 0;
}

.sec-process .col03 .col03-detail:last-child {
  margin-right: 0;
}

.cmm-issue-gp {
  position: relative;
  padding: 12px 0;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
}

.issue-gp01::after,
.issue-gp02::after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 14px;
  height: 60px;
  content: '';
}

.issue-gp01::after {
  background: url('/img/sustainability/icon_traingle01.png') no-repeat right center/cover;
}

.issue-gp02::after {
  background: url('/img/sustainability/icon_traingle02.png') no-repeat right center/cover;
}

.issue-gp01 {
  background-color: #6fba8a;
}

.issue-gp02 {
  background-color: #00a067;
}

.issue-gp03 {
  background-color: #009150;
}

.pharmacy-gp-img {
  width: 100%;
  margin: 0 auto;
  max-width: 750px;
}

.sec-key-issues .tab-list-02 li {
  margin-right: 0;
  border: unset;
  border-right: 1px solid #e0e0e0;
  border-radius: unset;
}

.sec-key-issues .tab-list-02 li:first-child {
  border-left: 1px solid #e0e0e0;
}

.sec-key-issues .tab-list-02 li a {
  position: relative;
  justify-content: space-between;
  text-align: left;
}

.sec-key-issues .tab-list-02 .tab-list-txt {
  width: 78.7%;
  max-width: 142px;
}

.sec-key-issues .tab-ttl-arrow {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.sec-key-issues .tab-ttl-arrow::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background: url('/img/common/ico_white_d_arrow.png') no-repeat center/contain;
  content: "";
  transform: translate(-50%, -50%);
}

.cmm-theme-subttl {
  position: relative;
  padding: 13px 20px;
  font-size: 1.375rem;
  font-weight: 700;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.cmm-theme-subttl span::before {
  position: absolute;
  top: 50%;
  left: 0;
  height: 28px;
  content: '';
  transform: translateY(-50%);
  border-left: 4px solid transparent;
}


.sec-key-issues .related-theme-blk {
  padding: 20px;
}

.related-theme-blk .related-img-blk {
  justify-content: normal;
}

.related-theme-blk .related-img-blk .issue-related-img {
  justify-content: normal;
  width: 10.85%;
  margin-right: 1.9%;
  margin-bottom: 0;
}

.related-theme-blk .related-img-blk .issue-related-img:last-child {
  margin-right: 0;
}

.sec-key-issues .tbl-main-cntlist .tbl-cntlist-item {
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}

#materiality-theme03 .tbl-main-cntlist .tbl-cntlist-item:first-child {
  padding-top: 15px;
  border-top: 1px solid #e6e6e6;
}

.sec-key-issues .tbl-main-cntlist .tbl-cntlist-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: unset;
}

.sec-key-issues .table-btn {
  line-height: 1.45;
  margin-right: 20px;
  border: 1px solid;
  text-align: center;
  min-width: 140px;
  border-radius: 3px;
}

#materiality-theme01 .cmm-theme-subttl span::before,
#materiality-theme01 .unorder-list-gp li::before {
  background: #f5a22c;
}

.sec-key-issues .tab-list-02 .cyan,
#materiality-theme03 .table .table-ttl .table-col-name,
#materiality-theme03 .unorder-list-gp li::before,
#materiality-theme03 .cmm-theme-subttl span::before {
  background-color: #22b7a9;
}


#materiality-theme01 .table .table-ttl .table-col-name {
  background-color: #f5a20b;
}

.sec-key-issues .tab-list-02 .yellow {
  background-color: #f5a22c;
}

.sec-key-issues .tab-list-02 .blue,
#materiality-theme02 .table .table-ttl .table-col-name,
#materiality-theme02 .unorder-list-gp li::before,
#materiality-theme02 .cmm-theme-subttl span::before {
  background-color: #0075ba;
}

.sec-key-issues .tab-list-02 .pink,
#materiality-theme04 .table .table-ttl .table-col-name,
#materiality-theme04 .unorder-list-gp li::before,
#materiality-theme04 .cmm-theme-subttl span::before {
  background-color: #e96b9a;
}

.sec-key-issues .tab-list-02 .purple,
#materiality-theme05 .table .table-ttl .table-col-name,
#materiality-theme05 .unorder-list-gp li::before,
#materiality-theme05 .cmm-theme-subttl span::before {
  background-color: #a672af;
}

.sec-key-issues .tab-list-02 .green {
  background-color: #048851;
}

.sec-key-issues .table .table-ttl th {
  color: #171717;
}

.sec-key-issues .bg-pink {
  background-color: #fef6e6;
  border-color: #fce5c0;
}

.sec-key-issues .bg-light-blue {
  background-color: #e5f1f8;
  border-color: #bbe4fc;
}

.sec-key-issues .bg-light-cyan {
  background-color: #e8f8f6;
  border-color: #c7e8e4;
}

.sec-key-issues .bg-light-pink {
  background-color: #fdf0f5;
  border-color: #f8cadc;
}

.sec-key-issues .bg-light-purple {
  background-color: #f6f1f7;
  border-color: #e9d2ed;
}


.sec-key-issues .table tr td,
.sec-key-issues .table tr th {
  border: 1px solid #e6e6e6;
}

#materiality-theme01 .table .table-ttl th {
  background-color: #fef6e6;
}

#materiality-theme02 .table .table-ttl th {
  background-color: #e5f1f8;
}

#materiality-theme03 .table .table-ttl th {
  background-color: #e8f8f6;
}

#materiality-theme04 .table .table-ttl th {
  background-color: #fdf0f5;
}

#materiality-theme05 .table .table-ttl th {
  background-color: #f6f1f7;
}


@media only screen and (max-width: 767.9px) {

  .issue-gp01,
  .issue-gp02 {
    padding: 7px 0 22px !important;
  }

  .issue-gp01 {
    background: url('/img/sustainability/img_traingle01_bg_sp.png') no-repeat center/100% 100%;
  }

  .issue-gp02 {
    background: url('/img/sustainability/img_traingle02_bg_sp.png') no-repeat center/100% 100%;
  }

  .issue-gp01::after,
  .issue-gp02::after {
    background: unset;
  }


  .related-theme-blk .related-img-blk .issue-related-img {
    width: 27.94%;
    margin-right: 5.1%;
    margin-bottom: 5.1%;
  }

  .sec-key-issues .related-theme-blk {
    padding: 5.1% 0 0 5.1%;
  }

  .sec-process .cmm-issue-gp {
    margin-bottom: 31px;
    padding: 14.8px 0;
    border-right: unset;
  }

  .sec-process .col03 .col03-detail {
    flex-wrap: wrap;
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }

  .sec-process .col03 .col03-detail .img-blk {
    width: 100%;
  }

  .sec-process .col03 .col03-detail .txt-blk {
    width: 100%;
  }

  .sec-key-issues .tab-list-02 {
    flex-wrap: wrap;
    width: 100%;
  }

  .sec-key-issues .tab-list-02 li {
    width: 50%;
    margin-top: 10px;
    margin-right: 0;
    padding-bottom: 10px;
    border: unset;
    min-width: 50%;
    border-radius: unset;
    border-bottom: 1px solid #e0e0e0;
  }

  .sec-key-issues .tab-list-02 li:first-child {
    border-left: unset;
  }

  .sec-key-issues .tab-list-02 li:first-child,
  .sec-key-issues .tab-list-02 li:nth-child(2) {
    margin-top: 0;
  }

  .sec-key-issues .tab-list-02 li:last-child {
    padding-bottom: 0;
    border-bottom: unset;
  }

  .sec-key-issues .tab-list-02 li a {
    position: relative;
    justify-content: space-between;
    padding: 13px 15px;
    text-align: left;
    border-left: 1px solid #e0e0e0;
  }

  .sec-key-issues .tab-list-02 li:nth-child(2n) a,
  .sec-key-issues .tab-list-02 li:last-child a {
    border-right: 1px solid #e0e0e0;
  }

  .sec-key-issues .tab-list-02 {
    margin-bottom: 60px;
  }

  .sec-process .col03 .col03-detail:last-child {
    margin-bottom: 0;
  }



}