@charset "UTF-8";

/* sec-strategy */
.sec-strategy .person-name {
  font-size: 1.375rem;
}

.sec-strategy .align-center {
  align-items: center;
}

/* SP */
@media only screen and (max-width: 767.9px) {

  /* sec-strategy */
  .sec-strategy .person-name {
    font-size: 1.125rem;
  }
}