@charset "UTF-8";

.w-70 {
	width: 70%;
}

.right {
	text-align: right;
}

.green-circle {
	color: #048851;
	text-align: center;
}

/* sec-skill-matrix */
.sec-skill-matrix .table .table-ttl th {
	padding: 11.6px 14px;
}

.sec-skill-matrix .w-18 {
	width: 18%;
}

.sec-skill-matrix .table .pc-scroll-table {
	min-width: 1210px;
}

/* sec-executive-officer */
.sec-executive-officer ol li {
	list-style-type: decimal;
}

.sec-executive-officer ol {
	padding-left: 35px;
}

.sec-executive-officer .officer-data {
	padding-left: 10px;
}