.sec-chairman .common-ttl {
  letter-spacing: 2.2px;
}

.chariman-blk {
  position: relative;
}

.about-chairman {
  position: absolute;
  top: 50%;
  right: 40px;
  content: '';
  transform: translateY(-50%);
}

.chairman-info span {
  padding-left: 20px;
  font-size: 1.5rem;
  font-weight: 700;
}

/*I-pad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {}



@media only screen and (max-width: 767.9px) {
  .about-chairman {
    position: unset;
    margin: 30px 0;
    transform: unset;
  }

  .about-chairman .text {
    font-size: 1rem;
  }
}