/* external-director */
.external-director .sec-director p span {
  background-color: #048851;
  padding: 2.5px 6.5px;
  border-radius: 4px;
  color: #fff;
}

.external-director .sec-director .bg-gray-content h2{
  padding-bottom: 0;
  border-bottom: none;
  color: #000000;
}