@charset "UTF-8";

/* sec-compliance */
.sec-compliance .scope-img {
	max-width: 110px;
	margin: 0 auto;
}

ul.reg-number {
	text-align: center;
	margin-bottom: 10px;
}

.reg-number {
	font-weight: 400;
	font-size: 0.688rem;
}

.sec-compliance .scope-desc {
	font-size: 0.75rem;
}

.sec-compliance .scope-desc .unorder-list-gp li::before {
	top: 9px;
	width: 4px;
	height: 4px;
}

.sec-compliance .bg-gray-content {
	margin-bottom: 15px;
}