@charset "UTF-8";

.stores-area {
  position: relative;
}

.area-blk {
  position: absolute;
  top: 5.5%;
  left: 5.4%;
  padding: 28px 15px 15px 30px;
  background-color: rgba(244, 244, 244,0.5);
  border-radius: 3px;
  width: 600px;
}

.area-blk .area-list {
  display: flex;
  flex-wrap: wrap;
}

.area-blk .area-list li {
  display: flex;
  align-items: center;
  width: 48%;
  margin-right: 13px;
  line-height: 1.5;
}

.area-blk .area-list li:nth-child(2n) {
  margin-right: 0;
}

html[lang="en"] .area-blk .area-list li {
  line-height: 2;
}

.area-blk .area-list .text-bg {
  margin-right: 16px;
  padding: 3px 12px;
  border-radius: 4px;
}

.area-blk .area-list .text-bg.pink {
  background-color: #ffb0cc;
}

.area-blk .area-list .text-bg.orange {
  background-color: #ffc57e;
}

.area-blk .area-list .text-bg.green {
  background-color: #57cf96;
}

.area-blk .area-list .text-bg.cyan {
  background-color: #4ec8ef;
}

.area-blk .area-list .text-bg.purple{
  background-color: #cda3e3;
}

.area-blk .area-list .fsize-40 {
  font-size: 2.5rem;
}

.area-blk .area-list .small-text.bold,
.group-total .small-text.bold {
  font-weight: 700;
}

.group-total {
  display: flex;
  align-items: center;
}

.group-total .stock-icon {
  margin-right: 4.8%;
}

.group-total .group-total-ttl {
  margin-right: 1.7%;
}

.group-total .group-total-ttl span {
  color: #048851;
  font-size: 0.75rem;
  font-weight: 400;
}

.group-total .stock-icon img {
  max-width: 56px;
}

.group-total .fsize-55 {
  font-size: 3.438rem;
}

@media only screen and (max-width: 767.9px) {
  .stores-map {
    margin: 0 -20px;
  }

  .area-blk {
    width: 100%;
    position: relative;
    left: unset;
    top: unset;
    padding: 30px 0 15px;
  }

  .area-blk .area-list li {
    flex-direction: column;
    margin-right: 4%;
    margin-bottom: 18px;
  }

  .area-blk .area-list .text-bg {
    width: 100%;
    margin-right: 0;
    padding: 3px 6px;
    font-size: 0.875rem;
    text-align: center;
  }

  .group-total .fsize-55 {
    font-size: 2rem;
  }

  .group-total .stock-icon {
    margin-right: 1%;
  }

  .group-total .stock-icon img {
    max-width: 44px;
  }

  .group-total .group-total-ttl {
    margin-right: 1%;
  }

  .group-total .group-total-ttl span {
    font-size: 0.625rem;
  }

  .sec-total-stores .img-scroll {
    padding-bottom: 10px;
    overflow-x: auto;
  }

  .sec-total-stores .img-scroll::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .sec-total-stores .img-scroll::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(244, 244, 244);
    border-radius: 100px;
  }

  .sec-total-stores .img-scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(244, 244, 244);
    border-radius: 100px;
  }

  .sec-total-stores .img-scroll::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #048851;
    border-radius: 100px;
  }

  .sec-total-stores .img-scroll::-webkit-scrollbar:vertical {
    display: none;
  }

  .sec-total-stores .img-scroll img {
    min-width: 1100px;
  }
}