<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/company/message/" class="main-ftnav-txt">トップメッセージ</a></li>
        <li><a href="/company/overview/" class="main-ftnav-txt">会社概要</a></li>
        <li><a href="/company/business/" class="main-ftnav-txt">事業紹介</a></li>
        <li><a href="/company/history/" class="main-ftnav-txt">沿革</a></li>
        <li><a href="/company/philosophy/" class="main-ftnav-txt">経営理念</a></li>
        <li><a href="/company/officer/" class="main-ftnav-txt">役員紹介</a></li>
      </ul>
    </li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/company/data/" class="main-ftnav-txt">数字で見るスギ薬局グループ</a></li>
        <li><a href="/company/process/" class="main-ftnav-txt">価値創造プロセス</a></li>
        <li><a href="/company/governance/" class="main-ftnav-txt">コーポレート・ガバナンス</a></li>
      </ul>
    </li>
  </ul><!--/.ft-nav-banner-->
</div>