<div class="inner header-pc">
	<ul class="ft-nav-banner">
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/company/governance/" class="main-ftnav-txt">コーポレート・ガバナンスTOP</a></li>
				<li><a href="/company/governance/structure.html" class="main-ftnav-txt">ガバナンス体制</a></li>
				<li><a href="/company/governance/board.html" class="main-ftnav-txt">取締役会・監査役会</a></li>
				<li><a href="/company/governance/effective-evaluation.html" class="main-ftnav-txt">取締役会の実効性評価</a></li>
			</ul>
		</li>
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/company/governance/remuneration.html" class="main-ftnav-txt">取締役および監査役の報酬等</a></li>
				<li><a href="/company/governance/shareholders.html" class="main-ftnav-txt">株主との関係</a></li>
				<li><a href="/property-info/" class="main-ftnav-txt" onclick="openFullScreenWindow(this.href); return false;">サステナビリティ委員会の設置</a></li>
				<li><a href="/company/governance/risk.html" class="main-ftnav-txt">リスク管理</a></li>
			</ul>
		</li>
		<li>
			<ul class="main-ftnav-list">
				<li><a href="/company/governance/external-director.html" class="main-ftnav-txt">社外取締役メッセージ</a></li>
			</ul>
		</li>
	</ul><!--/.ft-nav-banner-->
</div>