<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li><a href="/ir/" class="main-ftnav-txt">投資家情報TOP</a></li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/ir/investors/" class="main-ftnav-txt">投資家の皆様へ</a></li>
        <li><a href="/ir/faq/" class="main-ftnav-txt">IRに関するQ&A</a></li>
      </ul>
    </li>
    <li>
      <a href="/ir/library/" class="main-ftnav-txt">IRライブラリー</a>
      <ul class="sub-ftnav-list">
        <li><a href="/ir/library/monthly-report.html">月次報告</a></li>
        <li><a href="/ir/library/economic-indicators.html">経営指標</a></li>
        <li><a href="/ir/library/finance.html">財務情報</a></li>
        <li><a href="/ir/library/briefing.html">決算説明会資料</a></li>
        <li><a href="/ir/library/related-report.html">関連レポート</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.ft-nav-banner-->