<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li><a href="/ir/" class="main-ftnav-txt">投資家情報TOP</a></li>
    <li>
      <a href="/ir/growthstrategy/vision/" class="main-ftnav-txt">目指す姿</a>
      <ul class="sub-ftnav-list">
        <li><a href="/ir/growthstrategy/vision/strategic-dominance.html">核店舗を中心としたドミナント出店</a></li>
        <li><a href="/ir/growthstrategy/vision/store-making.html">積極的な店舗展開による地域シェアの向上と競争力のある店舗づくり</a></li>
        <li><a href="/ir/growthstrategy/vision/partnership.html">パートナーシップ</a></li>
        <li><a href="/ir/growthstrategy/vision/ltv.html">顧客生涯価値</a></li>
      </ul>
    </li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/ir/growthstrategy/professionals.html" class="main-ftnav-txt">専門人財</a></li>
        <li><a href="/ir/growthstrategy/management-plan.html" class="main-ftnav-txt">中期経営計画</a></li>
        <li><a href="/ir/investors/" class="main-ftnav-txt">投資家の皆様へ</a></li>
        <li><a href="/ir/faq/" class="main-ftnav-txt">IRに関するQ&A</a></li>
      </ul>
    </li>
    <li>
      <a href="/ir/library/" class="main-ftnav-txt">IRライブラリー</a>
      <ul class="sub-ftnav-list">
        <li><a href="/ir/library/monthly-report.html">月次報告</a></li>
        <li><a href="/ir/library/economic-indicators.html">経営指標</a></li>
        <li><a href="/ir/library/finance.html">財務情報</a></li>
        <li><a href="/ir/library/briefing.html">決算説明会資料</a></li>
        <li><a href="/ir/library/related-report.html">関連レポート</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.ft-nav-banner-->