<div class="inner header-pc">
  <ul class="ft-nav-banner">
    <li><a href="/sustainability/" class="main-ftnav-txt">サステナビリティTOP</a></li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/sustainability/env/" class="main-ftnav-txt">環境</a></li>
        <li><a href="/sustainability/social/" class="main-ftnav-txt">社会</a></li>
        <li><a href="/sustainability/governance/" class="main-ftnav-txt">ガバナンス</a></li>
      </ul>
    </li>
    <li>
      <a href="/sustainability/materiality/" class="main-ftnav-txt">重要課題</a>
      <ul class="sub-ftnav-list">
        <li><a href="/sustainability/materiality/healthy-community/">健康的なコミュニティ</a></li>
        <li><a href="/sustainability/materiality/sustainable-bp/">サステナブルな取引関係</a></li>
        <li><a href="/sustainability/materiality/environment/">地球環境への貢献</a></li>
        <li><a href="/sustainability/materiality/work-environment/">健康的な職場環境</a></li>
				<li><a href="/sustainability/governance/">コーポレート・ガバナンス</a></li>
      </ul>
    </li>
    <li>
      <ul class="main-ftnav-list">
        <li><a href="/company/message/management.html" class="main-ftnav-txt">マネジメントメッセージ</a></li>
        <li><a href="/sustainability/data/" class="main-ftnav-txt">データ・資料</a></li>
      </ul>
    </li>
  </ul>
</div><!--/.ft-nav-banner-->